/*.addBtn {
    background: #7ab97a;
    color: #fff;
    padding: 10px;
    border: none;
    margin-right: 10px;
    text-transform: uppercase;
    width: 80px;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
}

.body {
    padding: 20px;
}

.inputs {
    background-color: rgba(255, 255, 255, 0.8);
    word-wrap: break-word;
    padding-right: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
}

.content {
    margin: 30px 0 30px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 30% auto;
    margin-bottom: 10px;
}*/



.grid-container {
    display: grid;
    grid-template-columns: 40% 30% auto;
    margin-bottom: 10px;
}

.heading-container {
    margin: 30px 0 30px 0;
    width: 100%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.15rem;
    word-wrap: break-word;
    padding-right: 10px;
}

.name-heading,
.phone-heading {
    font-size: 1rem;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
}

.delete-btn {
    background: #fa9c9c;
    color: #000;
}